<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset done</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <style>
        .btn {
            background-color: #2BC2CF;
            border-radius: 4px;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            padding: 15px 30px;
            border: none;
            align: centre;
            width: 25%%;
            margin-top: 15px;
        }
    </style>
</head>
<body style="font-family:Manrope">
    <div style="display:flex; justify-content: center">
        <img src="https://lh3.googleusercontent.com/-UjC1iBKZCN8/X_7kZJcKasI/AAAAAAAABOQ/w3RgqxBIauchwsuUFaeSMbBWGOeJWSTrwCK8BGAsYHg/s0/2021-01-13.png" width="150px" height="150px"/>
    </div>
    <h1><p>Password reset successfully!</p></h1>
    <div class="buttonbox">
        <h2><a href="http://{{ frontend_url }}" ><button class="btn" style="background:#F8B817" type="submit">Go to Login</button></a></h2>
    </div>
</body>
</html>